<h3>edit album</h3>

<form action="/albums/<%= @album.id %>" method="post">
  <label for="name">album title</label>
  <input type="text" name="name" pattern=".{1,}" required title="1 character minimum" value="<%= @album.name %>">

  <p><label for="artist_id">artist</label>
  <select name="artist_id">
    <% @artists.each do |artist| %>
      <option value="<%= artist.id %>" <%= "selected" if artist.id.to_i == @album.artist_id.to_i %>><%= artist.name %></option>
    <% end %>
  </select></p>
  
  <input type='submit' value="edit">
  <input type="hidden" name="_method" value="put">
</form>
